@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@ViewBag.Nombres
@ViewData["Apellidos"]


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        @foreach (string Fruta in ViewBag.Frutas){
            <li>@Fruta</li>
        }
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
